In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
car_df = pd.read_csv(r"C:\Users\Tahmida\Downloads\car_prices.csv\car_prices.csv")

In [3]:
car_df.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [4]:
car_df.columns

Index(['year', 'make', 'model', 'trim', 'body', 'transmission', 'vin', 'state',
       'condition', 'odometer', 'color', 'interior', 'seller', 'mmr',
       'sellingprice', 'saledate'],
      dtype='object')

In [5]:
car_df.describe()

,year,condition,odometer,mmr,sellingprice
count,558837.000000,547017.000000,558743.000000,558799.000000,558825.000000
mean,2010.038927,30.672365,68320.017767,13769.377495,13611.358810
std,3.966864,13.402832,53398.542821,9679.967174,9749.501628
min,1982.000000,1.000000,1.000000,25.000000,1.000000
25%,2007.000000,23.000000,28371.000000,7100.000000,6900.000000
50%,2012.000000,35.000000,52254.000000,12250.000000,12100.000000
75%,2013.000000,42.000000,99109.000000,18300.000000,18200.000000
max,2015.000000,49.000000,999999.000000,182000.000000,230000.000000

In [6]:
car_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493485 non-null  object
 6   vin           558833 non-null  object
 7   state         558837 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558825 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB

In [7]:
unique_values = {col: car_df[col].unique() for col in car_df}

In [8]:
unique_values

{'year': array([2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005,
        2004, 2003, 2002, 2001, 2000, 1999, 1998, 1995, 1996, 1997, 1987,
        1994, 1993, 1992, 1989, 1991, 1990, 1986, 1985, 1988, 1984, 1982,
        1983], dtype=int64),
 'make': array(['Kia', 'BMW', 'Volvo', 'Nissan', 'Chevrolet', 'Audi', 'Ford',
        'Hyundai', 'Buick', 'Cadillac', 'Acura', 'Lexus', 'Infiniti',
        'Jeep', 'Mercedes-Benz', 'Mitsubishi', 'Mazda', 'MINI',
        'Land Rover', 'Lincoln', 'lincoln', 'Jaguar', 'Volkswagen',
        'Toyota', 'Subaru', 'Scion', 'Porsche', nan, 'bmw', 'Dodge',
        'FIAT', 'Chrysler', 'ford', 'Ferrari', 'Honda', 'GMC',
        'mitsubishi', 'Ram', 'smart', 'chevrolet', 'Bentley', 'chrysler',
        'pontiac', 'Pontiac', 'Saturn', 'Maserati', 'Mercury', 'HUMMER',
        'landrover', 'cadillac', 'land rover', 'mercedes', 'mazda',
        'toyota', 'lexus', 'gmc truck', 'honda', 'nissan', 'porsche',
        'Saab', 'Suzuki', 'dodge', 'subaru', 'Oldsmobile', 'oldsmobile',
        'hyundai', 'jeep', 'Isuzu', 'dodge tk', 'Geo', 'acura',
        'volkswagen', 'suzuki', 'kia', 'audi', 'Rolls-Royce', 'gmc',
        'maserati', 'mazda tk', 'mercury', 'buick', 'hyundai tk',
        'mercedes-b', 'vw', 'Daewoo', 'chev truck', 'ford tk', 'plymouth',
        'Plymouth', 'ford truck', 'Tesla', 'airstream', 'dot',
        'Aston Martin', 'Fisker', 'Lamborghini', 'Lotus'], dtype=object),
 'model': array(['Sorento', '3 Series', 'S60', '6 Series Gran Coupe', 'Altima',
        'M5', 'Cruze', 'A4', 'Camaro', 'A6', 'Optima', 'Fusion', 'Sonata',
        'Q5', '6 Series', 'Impala', '5 Series', 'A3', 'XC70', 'X5', 'SQ5',
        'S5', 'Verano', 'Suburban', 'ELR', 'V60', 'X6', 'ILX', 'K900',
        'Malibu', 'RX 350', 'Versa', 'Elantra', 'Versa Note', 'A8', 'X1',
        nan, 'Enclave', 'TTS', '4 Series', 'Silverado 2500HD', 'MDX',
        'Silverado 1500', 'SRX', 'G Coupe', 'G Sedan', 'FX', 'Santa Fe',
        'Genesis', 'Equus', 'Sonata Hybrid', 'Accent', 'Veloster',
        'Elantra Coupe', 'Azera', 'Tucson', 'Genesis Coupe', 'Wrangler',
        'S-Class', 'GS 350', 'Outlander', 'C-Class', 'Mazda2', 'Rio', 'M',
        '370Z', 'Soul', 'Outlander Sport', 'SLK-Class', 'ES 350',
        'E-Class', 'Mazda3', 'Cooper Clubman', 'Cooper', 'CX-9', 'Forte',
        'Compass', 'JX', 'RX 450h', 'LR4', 'Mazda5', 'Range Rover Evoque',
        'LS 460', 'GLK-Class', 'Sportage', 'Grand Cherokee', 'MKX', 'mkt',
        'XF', 'GL-Class', 'M-Class', 'Cooper Countryman', 'Lancer',
        'Range Rover Sport', 'Passat', 'Corolla', 'XC60', 'Sienna', 'Juke',
        'Yaris', 'Sentra', 'Rogue', 'NV', 'CC', 'Leaf', 'Camry', 'Tacoma',
        'Jetta', 'Impreza WRX', 'FJ Cruiser', 'Beetle', 'Avalon', 'FR-S',
        'NV200', 'RAV4', 'Quest', 'Tundra', 'tC', 'Maxima', 'Cayenne',
        '911', 'Xterra', 'Prius', 'S80', 'Frontier', 'Boxster',
        'Camry Hybrid', 'xB', 'Cube', 'Jetta SportWagen', '4Runner',
        'Sequoia', 'Legacy', 'Armada', 'Venza', 'Murano', 'Pathfinder',
        'Panamera', 'Forester', 'Highlander', 'Impreza', '750i', 'TSX',
        '7 Series', '1 Series', 'TL', '750li', 'S4', 'A7', 'A5', 'RDX',
        'M3', 'Cooper Coupe', 'ZDX', 'R8', 'X3', 'Avenger',
        'E-Series Wagon', 'Escape', 'Edge', 'Focus', 'Flex', 'Z4',
        'Traverse', 'F-350 Super Duty', 'Fiesta', '500', '200', 'Journey',
        'Charger', 'e350', 'Equinox', '300', 'F-150', 'Explorer',
        'Captiva Sport', 'Escalade', 'Grand Caravan', 'CTS Coupe',
        'Town and Country', 'E-Series Van', 'Volt', 'Express Cargo',
        'e150', 'X5 M', 'Expedition', 'Colorado', 'Express', 'California',
        'Escalade ESV', 'Sonic', 'Accord', 'CR-V', 'Mustang', 'Civic',
        'Fit', 'Pilot', 'Odyssey', 'Crosstour', 'Transit Connect',
        'Terrain', 'Taurus', 'G Convertible', 'Yukon', 'Veracruz', 'XJ',
        'Liberty', 'IS 250', 'XK', 'QX', 'CT 200h', 'Mazda6', 'MKZ',
        'Navigator', 'Range Rover', 'SL-Class', 'Sedona', 'IS 350',
        'Patriot', 'galant', '1500', 'GT-R', '2500', 'Galant', 'fortwo',
        'GLI', '5 Series Gran Turismo', 'XC90', 'Tiguan', 'GTI', 'Q7',
        'Highlander Hybrid', 'Prius Plug-in', 'CR-Z', 'EX', 'Sierra 1500',
        'LaCrosse', 'HHR', 'Accord Crosstour', 'CTS', 'Nitro', 'Tahoe',
        'Challenger', 'CTS-V', 'Escape Hybrid', 'X6 M', 'Ranger',
        'Insight', 'Fusion Hybrid', 'CTS-V Coupe', 'F-250 Super Duty',
        'Acadia', 'Impala Limited', 'Dart', 'Spark', 'M37', 'Sprinter',
        'Town Car', 'CLS-Class', 'CX-7', 'MKT', 'QX56', 'Aveo', 'Outback',
        'Caliber', 'Routan', 'g1500', 'Sebring', 'Corvette',
        'Continental GT Speed', 'malibu', 'Land Cruiser', 'town', 'V50',
        'Commander', 'Altima Hybrid', 'G37 Convertible', 'g6',
        'New Beetle', 'Golf', 'LR2', 'Lancer Sportback', 'G5', 'Yukon XL',
        'Escalade Hybrid', 'Avalanche', 'Titan', 'Spectra', 'Rondo',
        'Borrego', 'G-Class', 'MKS', 'CLK-Class', 'Tahoe Hybrid',
        'Econoline Cargo', 'Econoline Wagon', 'PT Cruiser', 'STS',
        'Ridgeline', 'F-450 Super Duty', 'Magnum', 'Durango', 'S40',
        'Malibu Classic', 'TT', 'Taurus X', 'Explorer Sport Trac',
        'Ram Pickup 1500', 'impala', 'Cobalt', 'Pacifica', 'S6', 'Rabbit',
        'C70', 'Sierra 2500HD', 'C30', 'VUE', 'GranTurismo', 'G6',
        'Grand Prix', '350Z', 'Raider', 'Mazdaspeed Mazda3', 'Solstice',
        'Milan', 'GX 470', 'Aura', 'RX 400h', 'Matrix', 'H3', 'CL-Class',
        'Outlook', '7', 'G37', 'IS F', 'Touareg 2', 'Lancer Evolution',
        'G35', 'xD', 'XJ-Series', 'G8', 'hhr', 'H2', 'DTS', 'lr3', 'sts',
        'Silverado 1500 Classic', 'M45', 'Uplander', 'GS 450h', 'corvette',
        'rangerover', 'Rendezvous', 'Monte Carlo', 'FX35', 'range', 'ION',
        'R-Class', 'lancer', 'Eclipse', 'c230wz', 'cx-7', 'B9 Tribeca',
        'matrix', 'tundra', 'RSX', 'mazda5', 'Mariner', 'gx',
        'Five Hundred', 'Envoy XL', 'S-Type', 'Element',
        'Continental Flying Spur', 'S2000', 'FX45', 'sr', 'pilot',
        'GS 430', 'Cayman S', 'Mark LT', 'ES 330', 'GS 300', '350z',
        'Camry Solara', 'rx8', 'Touareg', 'Relay', 'lx', 'allroad quattro',
        '9-3', '500L', 'C-Max Hybrid', 'pacifica', 'Freestyle',
        'Ram Pickup 3500', 'Sprinter Cargo', 'DeVille', 'H2 SUT',
        'TrailBlazer', 'Canyon', 'srx', 'Dakota', 'Continental GT', 'Neon',
        'Stratus', 'Q45', 'Freestar', 'Montana', 'Grand Marquis', 'XLR',
        'Aviator', 'g55', 'MPV', 'LS 430', 'Verona', 'Forenza', 'RX 330',
        '300M', 'SC 430', 'discovery', 'Excursion', 'Envoy XUV', 'Envoy',
        'Concorde', 'Monterey', 'stratus', 'Mountaineer', 'Amanti',
        'Malibu Maxx', 'Celica', 'Grand Am', 'Endeavor', 'Marauder',
        'escape', 'QX4', 'LS', 'Blazer', 'Ram Pickup 2500', 'LeSabre',
        'V40', 'Mazdaspeed Protege', 'Montero', 'ES 300', 'focus',
        'Thunderbird', 'Century', 'Cavalier', 'Venture', 'S-10', 's55',
        'Cougar', 'XL-7', 'Windstar', 'Silverado 1500HD', 'Explorer Sport',
        'Savana Cargo', 'X-Type', 'Sonoma', 'IS 300', 'forester',
        'Protege5', 'sprinter', 'RL', 'Alero', 'Grand Vitara', 'RX 300',
        'L-Series', 'V70', 'Intrigue', 'XC', 'Discovery Series II',
        'S-Series', 'alero', 'santa', 'ECHO', 'MX-5 Miata', 'Continental',
        'Seville', 'camry', 'Park Avenue', 'Millenia', 'I30', 'gr',
        'sienna', 'camaro', 'Cherokee', 'Z3', 'civic', 'ram', 'odyssey',
        'taurus', 'expedition', 'Prizm', 'Escort', 's10', 'LHS',
        'windstar', 'f250', 'Regal', 'explorer', 'G20', 'Bonneville',
        'Eldorado', 'voyager', 'venture', 'durango', 'Intrepid', 'Contour',
        'S90', 'Sunfire', 'mpv', 'caravan', '200SX', 'Rodeo', 'wrangler',
        'f150', 'Tercel', 'S70', 'Discovery', 'Mustang SVT Cobra', '300e',
        'pickup', 'ciera', 'Legend', 'LS 400', 'Cutlass Ciera',
        'Santa Fe Sport', 'Cadenza', 'Q50', 'Elantra GT', 'F-TYPE',
        'Shelby GT500', 'QX70', 'QX60', 'Q60 Convertible',
        'Cooper Roadster', 'CX-5', 'Cooper Paceman', 'Rogue Select',
        'Cayman', 'CLA-Class', 'allroad', 'ATS', 'Prius v',
        'Continental GTC', 'XV Crosstrek', '3500', 'C-Max Energi',
        'Focus ST', 'RS 7', 'GX 460', 'CTS Wagon', 'SLS AMG', 'Aspen',
        'Eclipse Spyder', 'Vibe', 'Eos', 'Entourage', 'expeditn', 'rl',
        'Caravan', 'Quattroporte', 'M35', '9-5', 'SSR', 'Astro Cargo',
        'Safari Cargo', 'passat', 'Tribute', 'Diamante', 'Sable',
        'Silverado 3500', 'Phaeton', 'R32', 'I35', 'g500', 'Bravada',
        'Tahoe Limited/Z71', 'Truck', 'C/K 1500 Series', 'grand', 'SC 300',
        'Roadmaster', 'SC 400', '420sel', 'LX 570', 'QX80', 'RS 5',
        'Jetta GLI', 'ES 300h', 'capt', 'M4', 'SX4', 'iQ', 'Kizashi',
        'C/V Cargo Van', 'Prius c', '750lxi', 'alp', 'Lucerne',
        'Escalade EXT', 'Silverado 3500HD', 'Crown Victoria',
        'Sierra 3500HD', 'M56', 'rio', 'IS 250 C', '3', 'endeavor',
        'corolla', 'jetta', 'ActiveHybrid X6', 'a4', 'dts', 'g3500',
        'colorado', 'sebring', 'e250', 'police', 'Elantra Touring',
        'G37 Coupe', 'HS 250h', 'journey', 'Mazdaspeed3', 'Milan Hybrid',
        'Ghost', 'Silverado 1500 Hybrid', 'crown', 'Yukon Hybrid',
        'elantra', 'optima', 'borrego', 'mazda6', '6', 'Mariner Hybrid',
        'montana', 'Torrent', 'VUE Hybrid', 'G3', '9-7X', 'vibe',
        'Expedition EL', 'Tiburon', 'patriot', 'LR3', 'Navigator L',
        'Astra', 'Tribeca', 'XL7', 'sx4', 'Sky', 'Reno', 'M6', 'S8',
        'Terraza', 'Silverado 2500HD Classic', 'uplander', 'ram3500',
        'Sierra 1500 Classic', 'Sierra 2500HD Classic', 'Fusion Energi',
        'XK-Series', 'quattroporte', 'B-Series Truck', 'mazda3', 'b200',
        'Mazdaspeed Mazda6', 'Montego', 'g5', 'yaris', 'Rainier',
        'TrailBlazer EXT', 'optra', 'Crossfire', 'magnum', 'savana',
        'Sierra 1500HD', 'ridgelin', 'Savana', 'Zephyr', 'rrs', 'tribute',
        'carrera', 'Montana SV6', 'wave', 'tt', 'Classic', 'pt',
        'freestyle', 'Ascender', 'XG350', 'Q60 Coupe', 'Q70', 'QX50',
        'pursuit', 'x-trail', 'GTO', 'xA', 'L300', 'Baja', '9-2X', 'Aerio',
        'el', 'rainier', 'Silverado 2500', 'Astro', 'Tracker', 'intrepid',
        'F-150 Heritage', 'expedit', 'accord', 'Freelander', 'c240w',
        'MR2 Spyder', 'RS 6', '320i', 'Voyager', 'Axiom', 'cl55',
        'Montero Sport', 'sl55', 'Protege', 'Silhouette', 'b1500',
        'concorde', '626', 'Blackwood', 'Rodeo Sport', 'LX 470',
        'Villager', 'Firebird', 'Aztek', 'Aurora', 'CL', 'EuroVan',
        'Catera', 'Leganza', 'XG300', 'Prelude', 'Trooper', 'Prowler',
        'Cabrio', 'Integra', 'cavalier', 'astro', 'excurs', 'dakota',
        'Cirrus', 'twn&country', 'Jimmy', 'safari', 'ranger', 'sonoma',
        'Sierra 2500', 'yukon', 'Sephia', 'Passport', 'Mirage', 'breeze',
        'silhouette', 'villager', 'beetle', 'suburban', 'Lumina', 'Amigo',
        'mountaineer', 'Esteem', 'pathfinder', 'quest', 'Breeze', 'e300dt',
        'intrigue', 'lumina', 'Cabriolet', 'envoy', 'Cutlass', 'GS 400',
        'E-150', 'Regency', 'thunderbird', 'B-Series Pickup', 'legacy',
        'corsica', 'bronco', 'Le Baron', 'Caprice', 'Pickup', 'century',
        '500-Class', '300-Class', 'previa', 'Murano CrossCabriolet',
        'NV Cargo', 'Jetta Hybrid', 'S7', 'Encore', 'XTS',
        'Black Diamond Avalanche', 'RLX', '2 Series', 'M6 Gran Coupe',
        'regal', 'versa', 'BRZ', 'C/V Tradesman', 'Model S',
        'Beetle Convertible', 'Golf R', 'routan', 'TSX Sport Wagon',
        'interstate', 'a6', 'Corvette Stingray', 'SS', 'Mazdaspeed 3',
        'i-MiEV', 'F430', 'EX35', 'swift', 'GranSport', 'escalade', 'neon',
        'f350', 'Yukon Denali', 'Ghibli', '960', 'Cutlass Supreme',
        'cougar', 'IS 350 C', 'lacrosse', 'tucson', '323i', 'cobalt', 'x3',
        'Mazdaspeed MX-5 Miata', 'Ram Cargo', 'Safari', 'Eighty-Eight',
        '850', 'J30', 'Promaster Cargo Van', 'sonic', 'rr', '1',
        'Malibu Hybrid', '350', 'twn/cntry', 'Spirit', 'Accord Hybrid',
        '3 Series Gran Turismo', 'e', 'cruze', 'c230', 'crossfire',
        'Viper', 'Riviera', 'compass', 'Avalon Hybrid', 'RX-8',
        'V8 Vantage', 'Equator', 'sportage', 'C/K 3500 Series',
        'Mark VIII', 'charger', 'GranTurismo Convertible', 'avenger',
        'equinox', 'allure', 'c240s', 'Vitara', 'avalon', 'eurovan',
        'siera', 'pathfind', 'Eighty-Eight Royale', 'cherokee',
        'ActiveHybrid 7', 'aveo', 'GS 460', 'Tribute Hybrid',
        'Aura Hybrid', 'tahoe', 'g2500', '300ZX', 'Golf GTI', 'i-Series',
        'golf', 'MKZ Hybrid', 'Macan', 'FX50', 'comm', 'STS-V',
        'Windstar Cargo', 'CTS-V Wagon', 'Karma', '328i', 'Z4 M', '42c',
        'subrbn', 'b2300', 'mountnr', 'Coupe', 'uplandr', 'Ram Van',
        'Tempo', 'Tracer', 'CV Tradesman', 'DB9', 'C/K 2500 Series', 'i8',
        'Rapide', 'Nubira', 'Corsica', 'NV Passenger', 'Spyder',
        'LS 600h L', '400-Class', 'H3T', 'LX 450', 'WRX',
        'Silverado 3500 Classic', '500e', 'Continental Supersports',
        'Sierra 3500', 'Mystique', 'F-150 SVT Lightning', '190-Class',
        'MKC', 'Aspire', '940', 'Gallardo',
        'Continental Flying Spur Speed', '3000GT', 'TT RS', 'B-Series',
        'ActiveHybrid 5', 'Sierra 1500 Hybrid', 'ML55 AMG', 'S-10 Blazer',
        'RS 4', 'T100', 'Continental GTC Speed', 'mdx', 'Transit Van',
        'F-250', 'Sidekick', 'E-250', '8 Series', '420-Class', 'E-350',
        'Achieva', 'B-Class Electric Drive', 'Fleetwood', 'Paseo',
        'Civic del Sol', 'Exige', 'X4', 'Spark EV', 'Transit Wagon', 'H1',
        'SLS AMG GT', 'Flying Spur', 'Metro', 'Grand Cherokee SRT', 'RC F',
        'Q3', '4 Series Gran Coupe', 'RC 350', '360', 'GLA-Class', 'TLX',
        '458 Italia'], dtype=object),
 'trim': array(['LX', '328i SULEV', 'T5', ..., 'pure', 'EWB', 'Power Wagon'],
       dtype=object),
 'body': array(['SUV', 'Sedan', 'Convertible', 'Coupe', 'Wagon', 'Hatchback',
        'Crew Cab', 'G Coupe', 'G Sedan', 'Elantra Coupe', 'Genesis Coupe',
        'Minivan', nan, 'Van', 'Double Cab', 'CrewMax Cab', 'Access Cab',
        'King Cab', 'SuperCrew', 'CTS Coupe', 'Extended Cab',
        'E-Series Van', 'SuperCab', 'Regular Cab', 'G Convertible', 'Koup',
        'Quad Cab', 'CTS-V Coupe', 'sedan', 'G37 Convertible', 'Club Cab',
        'Xtracab', 'Q60 Convertible', 'CTS Wagon', 'convertible',
        'G37 Coupe', 'Mega Cab', 'Cab Plus 4', 'Q60 Coupe', 'Cab Plus',
        'Beetle Convertible', 'TSX Sport Wagon', 'Promaster Cargo Van',
        'GranTurismo Convertible', 'CTS-V Wagon', 'Ram Van', 'minivan',
        'suv', 'Transit Van', 'Navitgation', 'van', 'regular-cab',
        'g sedan', 'g coupe', 'hatchback', 'king cab', 'supercrew',
        'g convertible', 'coupe', 'crew cab', 'wagon', 'double cab',
        'e-series van', 'regular cab', 'quad cab', 'g37 convertible',
        'supercab', 'extended cab', 'crewmax cab', 'genesis coupe',
        'access cab', 'mega cab', 'xtracab', 'beetle convertible',
        'cts coupe', 'koup', 'club cab', 'elantra coupe', 'q60 coupe',
        'cts-v coupe', 'transit van', 'granturismo convertible',
        'tsx sport wagon', 'promaster cargo van', 'q60 convertible',
        'g37 coupe', 'cab plus 4', 'cts wagon'], dtype=object),
 'transmission': array(['automatic', nan, 'manual', 'Sedan', 'sedan'], dtype=object),
 'vin': array(['5xyktca69fg566472', '5xyktca69fg561319', 'wba3c1c51ek116351', ...,
        '5uxzw0c58cl668465', '1n4al3ap0fc216050', '1ftfw1et2eke87277'],
       dtype=object),
 'state': array(['ca', 'tx', 'pa', 'mn', 'az', 'wi', 'tn', 'md', 'fl', 'ne', 'nj',
        'nv', 'oh', 'mi', 'ga', 'va', 'sc', 'nc', 'in', 'il', 'co', 'ut',
        'mo', 'ny', 'ma', 'pr', 'or', 'la', 'wa', 'hi', 'qc', 'ab', 'on',
        'ok', 'ms', 'nm', 'al', '3vwd17aj4fm201708', 'ns',
        '3vwd17aj2fm258506', '3vwd17aj3fm276741', '3vwd17aj2fm285365',
        '3vwd17aj0fm227318', '3vwd17aj6fm218641', '3vwd17aj7fm223475',
        '3vwd17aj5fm297123', '3vwd17aj5fm219943', '3vwd17aj9fm219766',
        '3vwd17aj3fm259017', '3vwd17aj5fm206111', '3vwd17aj5fm273601',
        '3vwd17aj5fm221322', '3vwd17aj5fm268964', '3vwd17aj6fm231972',
        '3vwd17aj7fm222388', '3vwd17aj7fm218440', '3vwd17ajxfm315938',
        '3vwd17aj7fm229552', '3vwd17aj8fm298895', '3vwd17aj4fm236636',
        '3vwd17aj5fm225953', '3vwd17aj7fm326640', '3vwd17aj8fm239622',
        '3vwd17aj2fm261566'], dtype=object),
 'condition': array([ 5., 45., 41., 43.,  1., 34.,  2., 42.,  3., 48., nan, 49., 17.,
        19., 29., 38., 44., 47., 32.,  4., 25., 37., 39., 31., 28., 46.,
        36., 35., 26., 21., 22., 27., 24., 33., 23., 15., 16., 18., 12.,
        14., 11., 13.]),
 'odometer': array([ 16639.,   9393.,   1331., ..., 204835., 111069., 262065.]),
 'color': array(['white', 'gray', 'black', 'red', 'silver', 'blue', 'brown',
        'beige', 'purple', 'burgundy', '—', 'gold', 'yellow', 'green',
        'charcoal', nan, 'orange', 'off-white', 'turquoise', 'pink',
        'lime', '4802', '9410', '1167', '2172', '14872', '12655', '15719',
        '6388', '16633', '11034', '2711', '6864', '339', '18384', '9887',
        '9837', '20379', '20627', '721', '6158', '2817', '5705', '18561',
        '2846', '9562', '5001'], dtype=object),
 'interior': array(['black', 'beige', 'tan', '—', 'gray', 'brown', 'burgundy', 'white',
        nan, 'silver', 'off-white', 'blue', 'red', 'yellow', 'green',
        'purple', 'orange', 'gold'], dtype=object),
 'seller': array(['kia motors america  inc',
        'financial services remarketing (lease)',
        'volvo na rep/world omni', ..., 'maserati north america inc',
        'alternative financial group inc', 'i -5 uhlmann rv'], dtype=object),
 'mmr': array([ 20500.,  20800.,  31900., ..., 182000., 119000., 164000.]),
 'sellingprice': array([ 21500.,  30000.,  27750., ..., 169000.,  16550.,  27840.]),
 'saledate': array(['Tue Dec 16 2014 12:30:00 GMT-0800 (PST)',
        'Thu Jan 15 2015 04:30:00 GMT-0800 (PST)',
        'Thu Jan 29 2015 04:30:00 GMT-0800 (PST)', ...,
        'Tue Jul 07 2015 08:45:00 GMT-0700 (PDT)',
        'Thu Jul 02 2015 13:20:00 GMT-0700 (PDT)',
        'Wed Jul 08 2015 09:45:00 GMT-0700 (PDT)'], dtype=object)}

In [9]:
for column in car_df:
    if car_df[column].dtype == 'object':
        unique_vals = car_df[column].unique()
        nr_values = len(unique_vals)
        if nr_values < 10:
            print(f'The number of unique string values for feature "{column}": {nr_values} -- {unique_vals}')
        else:
            print(f'The number of unique stringvalues for feature "{column}": {nr_values}')
    else:
        unique_vals = np.unique(car_df[column])
        nr_values = len(unique_vals)
        if nr_values < 10:
            print(f'The number of unique numeric values for feature "{column}": {nr_values} -- {unique_vals}')
        else:
            print(f'The number of unique numeric values for feature "{column}": {nr_values}')

The number of unique numeric values for feature "year": 34
The number of unique stringvalues for feature "make": 97
The number of unique stringvalues for feature "model": 974
The number of unique stringvalues for feature "trim": 1964
The number of unique stringvalues for feature "body": 88
The number of unique string values for feature "transmission": 5 -- ['automatic' nan 'manual' 'Sedan' 'sedan']
The number of unique stringvalues for feature "vin": 550298
The number of unique stringvalues for feature "state": 64
The number of unique numeric values for feature "condition": 42
The number of unique numeric values for feature "odometer": 172279
The number of unique stringvalues for feature "color": 47
The number of unique stringvalues for feature "interior": 18
The number of unique stringvalues for feature "seller": 14263
The number of unique numeric values for feature "mmr": 1102
The number of unique numeric values for feature "sellingprice": 1888
The number of unique stringvalues for feature "saledate": 3767

In [10]:
car_df['transmission'] = car_df['transmission'].str.replace('sedan','Sedan')

In [11]:
car_df['transmission'].value_counts()

automatic    475915
manual        17544
Sedan            26
Name: transmission, dtype: int64

In [12]:
car_df = car_df.drop(["saledate", "vin"], axis = 1)

In [13]:
car_df.columns

Index(['year', 'make', 'model', 'trim', 'body', 'transmission', 'state',
       'condition', 'odometer', 'color', 'interior', 'seller', 'mmr',
       'sellingprice'],
      dtype='object')

In [14]:
car_df.isnull().sum()

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65352
state               0
condition       11820
odometer           94
color             749
interior          749
seller              0
mmr                38
sellingprice       12
dtype: int64

In [15]:
num_col = car_df.select_dtypes(include = [np.number]).columns.tolist()
cat_col = car_df.select_dtypes(include = ["object"]).columns.tolist()

In [16]:
print(cat_col)
print(num_col)

['make', 'model', 'trim', 'body', 'transmission', 'state', 'color', 'interior', 'seller']
['year', 'condition', 'odometer', 'mmr', 'sellingprice']

In [17]:
for column in cat_col:
    most_frequent_value = car_df[column].value_counts().idxmax()
    frequency = car_df[column].value_counts().max()
    print(f'The most frequent value for feature {column} is {most_frequent_value} with a frequency of {frequency}.')

The most frequent value for feature make is Ford with a frequency of 93554.
The most frequent value for feature model is Altima with a frequency of 19349.
The most frequent value for feature trim is Base with a frequency of 55817.
The most frequent value for feature body is Sedan with a frequency of 199437.
The most frequent value for feature transmission is automatic with a frequency of 475915.
The most frequent value for feature state is fl with a frequency of 82945.
The most frequent value for feature color is black with a frequency of 110970.
The most frequent value for feature interior is black with a frequency of 244329.
The most frequent value for feature seller is nissan-infiniti lt with a frequency of 19693.

In [18]:
car_df.fillna({'make': 'Ford', 'model' : 'Altima', 'trim': 'Base','body' : 'Sedan', 'transmission' : 'automatic', 
                'color' : 'black', 'interior' : 'black'}, 
              inplace=True)

In [19]:
car_df.isnull().sum()

year                0
make                0
model               0
trim                0
body                0
transmission        0
state               0
condition       11820
odometer           94
color               0
interior            0
seller              0
mmr                38
sellingprice       12
dtype: int64

In [20]:
for column in num_col:
    most_frequent_value = car_df[column].value_counts().idxmax()
    frequency = car_df[column].value_counts().max()
    print(f'The most frequent value for column "{column}" is "{most_frequent_value}" with a frequency of {frequency}.')

The most frequent value for column "year" is "2012" with a frequency of 102315.
The most frequent value for column "condition" is "19.0" with a frequency of 42281.
The most frequent value for column "odometer" is "1.0" with a frequency of 1318.
The most frequent value for column "mmr" is "12500.0" with a frequency of 1761.
The most frequent value for column "sellingprice" is "11000.0" with a frequency of 4453.

In [21]:
car_df[['condition','odometer','mmr','sellingprice']] = car_df[['condition','odometer','mmr','sellingprice']].fillna(
    car_df[['condition','odometer','mmr','sellingprice']].median())

In [22]:
car_df.isnull().sum()

year            0
make            0
model           0
trim            0
body            0
transmission    0
state           0
condition       0
odometer        0
color           0
interior        0
seller          0
mmr             0
sellingprice    0
dtype: int64

In [23]:
corr_matrix = car_df.corr()

C:\Users\Tahmida\AppData\Local\Temp\ipykernel_16304\735117326.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_matrix = car_df.corr()

In [24]:
corr_matrix.style.background_gradient(cmap='coolwarm').set_precision(3)

C:\Users\Tahmida\AppData\Local\Temp\ipykernel_16304\2636085371.py:1: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  corr_matrix.style.background_gradient(cmap='coolwarm').set_precision(3)

In [25]:
#car_price_cleaned = car_df.to_csv('car_price_cleaned.csv', index = True)

In [26]:
Sum_mmr = car_df["mmr"].sum()

Sum_sel = car_df["sellingprice"].sum()

summ = (Sum_mmr-Sum_sel)/(Sum_mmr)

print(summ * 100)

1.1471034835808087

In [27]:
Sum_mmr

7694779875.0

In [28]:
Sum_sel

7606512787.0

In [29]:
summ

0.011471034835808087

In [30]:
summ * 100

1.1471034835808087